body {
  margin: 0;
}

.heroImg{
  display: flex;
  height: 400px;
  width: 100%;
}


.navigation ul{
  display: flex;
  justify-content: space-evenly;
  

}

.navigation li{
  list-style: none;
  display: inline;
  
  
  
}

.navigation{
  background-color: rgb(92, 202, 202) !important ;
  text-decoration: none;
}

.container{
  margin-top: 90px;
}

